html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

.click-type {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.click-type:hover {
  background-color: rgba(0, 0, 0, .04);
}

.icon-click {
  display: flex;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}